:root {
    --color-primario: #2D60AC;
    --dd: {}
}

.contenedor-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
    margin: 0 15px 0 5px;
}

.btn-inicio {
    color: white !important;
    text-shadow: 0 2px 5px black;
    border-bottom: transparent solid 2px;
    transition-duration: 0.4s;
}

.btn-inicio:hover {
    border-bottom: white solid 2px;
}

.menu-inicio, .menu-sesion {
    display: flex;
    font-size: x-large;
}

.menu-sesion {
    flex-wrap: nowrap;
}

.btn-sesion-i, .btn-sesion-r {
    text-decoration: none;
    font-size: large;
    padding: .5rem 1rem;
    max-height: 30px;
    border-radius: 20px;
    border: solid 0.5px white;
    transition: .2s;
}

.btn-sesion-r:hover, .btn-sesion-i:hover {
    font-size: x-large;
}

.btn-sesion-i {
    color: white !important;
    background-color: var(--color-primario);
    max-height: 30px;
    justify-self: center;
    margin-right: 15px !important;
}

.btn-sesion-r {
    color: white !important;
    background-color: transparent;
}

.footer- {
    bottom: 0;
    background-color: #bcc7ff33;
    max-height: max-content;
    width: 100%;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media(max-width:991px) {
    .contenedor-menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .menu-inicio {
        width: 100%;
        justify-content: center;
        border-bottom: 2px solid rgb(255, 255, 255);
        padding-bottom: 5px;
        margin: 0 20px 5px 20px;
    }
    .menu-sesion {
        width: 100%;
        justify-content: center;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 30px;
    max-width: 50px;
}

.hamburger-inner-0, .hamburger-inner-1, .hamburger-inner-2 {
    background-color: white;
    position: static;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform, opacity, display;
}

.hamburger-inner-1 {
    width: 35px;
}

.hamburger-inner-2 {
    width: 30px;
}

.hamburger.open .hamburger-inner-0 {
    transform: translate3d(0, 5px, 0) rotate(45deg);
}

.hamburger.open .hamburger-inner-1 {
    display: none;
}

.hamburger.open .hamburger-inner-2 {
    transform: translate3d(0, -5px, 0) rotate(-45deg);
    width: 40px;
}